@layer components {
  .hover-white:hover {
    color: white;
  }

  @media (max-width: 800px) {
    .sidebar {
      nav,
      .library {
        h5,
        .remove-on-collapse {
          display: none;
        }
      }
    }
  }

  .collapse-sidebar {
    nav,
    .library {
      h5,
      .remove-on-collapse {
        display: none;
      }
    }
    min-width: 5rem !important;
    width: 5rem !important;
  }
}
