@layer components {
  .active-link {
    fill: white;

    h5 {
      color: white !important;
    }

    svg:nth-child(2) {
      @apply block;
    }

    svg:nth-child(1) {
      @apply hidden;
    }
  }
}
