@layer components {
  .home__music-section {
    container-type: inline-size;
    container-name: music-section;
  }

  .home__card-container {
    display: grid;
    grid-template-columns: repeat(6, minmax(5rem, 25rem));
    grid-template-rows: repeat(1, auto);
    overflow-y: hidden;
    gap: 1rem;
  }

  @container music-section (max-width: 65rem) {
    .home__card-container {
      grid-template-columns: repeat(5, minmax(5rem, 25rem));

      .spotify-song-card:nth-child(6) {
        display: none;
      }
    }
  }
  @container music-section (max-width: 55rem) {
    .home__card-container {
      grid-template-columns: repeat(4, minmax(5rem, 25rem));

      .spotify-song-card:nth-child(5),
      .spotify-song-card:nth-child(6) {
        display: none;
      }
    }
  }
  @container music-section (max-width: 45rem) {
    .home__card-container {
      grid-template-columns: repeat(3, minmax(5rem, 20rem));

      .spotify-song-card:nth-child(4),
      .spotify-song-card:nth-child(5),
      .spotify-song-card:nth-child(6) {
        display: none;
      }
    }
  }
  @container music-section (max-width: 35rem) {
    .home__card-container {
      grid-template-columns: repeat(2, minmax(5rem, 15rem));
      gap: 1rem;

      .spotify-song-card:nth-child(3),
      .spotify-song-card:nth-child(4),
      .spotify-song-card:nth-child(5),
      .spotify-song-card:nth-child(6) {
        display: none;
      }
    }
  }
}
