@layer components {
  .Library--desktop--expand {
    width: 150% !important;
  }

  .Library__main--row-layout {
    @apply flex;
  }

  @container sidebar (min-width: 40rem) {
    .library__layout-controllers {
      display: grid !important;
    }
    .Library__size-controllers button:last-child {
      @apply block;
    }
    .Library__size-controllers button:first-child {
      @apply hidden;
    }

    .Library__layout--grid {
      .library__main > main {
        display: grid !important;
        grid-template-columns:repeat(auto-fill, 8rem)   ;
      }
      .library__user-playlist-card {
        @apply flex-col w-[8rem];

        .user-playlist-cover {
          @apply w-full;
        }
      }

      .library__layout-controllers :first-child {
        @apply hidden;
      }
      .library__layout-controllers :last-child {
        @apply block;
      }
    }
  }
}
