@layer components {
  .Library--desktop--expand {
    width: 150% !important;
  }



  /* .Library__main--row-layout {
    @apply flex;
  } */

  @container sidebar (min-width: 30rem) {
    .Library__grid-layout {
      display: grid !important;
      grid-template-columns: repeat(3, minmax(5rem, 1fr));
      gap: 1rem;
      .grid-card {
        display: grid;
        grid-template-rows: auto 44px;
        row-gap: 8px;
      }

      .normal-card {
        display:none !important;
      }
      /* @apply grid; */
    }

    .Library__table-cell {
      display: table-cell !important;
    }

    .Library__table-header {
      display: table-header-group !important;
    }

    .library__layout-controllers {
      display: grid !important;
    }
  }

  @container sidebar (min-width: 40rem) {
    .Library__grid-layout {
      grid-template-columns: repeat(4, minmax(5rem, 1fr));
      /* @apply grid; */
    }

    .Library__size-controllers button:last-child {
      @apply block;
    }
    .Library__size-controllers button:first-child {
      @apply hidden;
    }

    /* Layout mode class applied on the main element in desktop librry */
  }

  @container sidebar (min-width:50rem) {
    .Library__grid-layout {
      grid-template-columns: repeat(5, minmax(5rem, 1fr))
    }
  }
}

/* 


 */
